.container
  section.hero
    .intro-text
      h2.intro-title Start making money
        br
        | from your returns.
      p.intro-slogan Built for Shopify merchants of all sizes.
      .buttons-holder
        a(href="#", title="title").button.install 
          img(src="images/bag.png", alt="alt")
          | Install app now
        a(href="#", title="title").button.shopify 
          img(src="images/diamond.png", alt="alt")
          | Built for Shopify
    .product-section
      .image-container
        img.product-image(src="pic/sweater-brown.webp", alt="Sweater")
      .product-info
        h3.product-title Sweater in 
          br
          | Everyday Cotton
        p.product-description The perfect boxy-fit sweater, The Boxy Sweater in Everyday Cotton is a layering essential. Featuring a chunky rib stitch at the crew neckline, along the hem, and sleeve cuffs, it has dropped shoulders for a relaxed edge. It's made with 100% organic cotton, and designed to be styled solo or easily topped with a blazer or cardigan.
        .color-options
          span.color-name Color:
          label(for="brown")
            input#brown(type="radio", name="color", value="brown", checked)
            span.color-swatch(style="background-color: #c89f82;")
          label(for="gray")
            input#gray(type="radio", name="color", value="gray")
            span.color-swatch(style="background-color: #909090;")
        button.add-to-cart Add to Cart | $40
      .floating-elements
        .floating-square.big
        .floating-square.small
        .floating-icon.small
          svg(width="22" height="30" viewBox="0 0 22 30" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M0 8.50558H4.25303V12.7586H0V8.50558Z")
            path(d="M17.0113 17.011H21.2643V21.2641H17.0113V17.011Z")
            path(d="M21.2642 8.50554V4.25303H12.7587V0H8.50566V4.25303H4.25315L4.25303 8.50558L8.50566 8.50554V12.7587L4.25303 12.7586L4.25315 17.0113H8.50566V21.2643H0.00012572V25.5173H8.50566V29.77H12.7587V25.5173H17.0112L17.0113 21.2641L12.7587 21.2643V17.0113L17.0113 17.011L17.0112 12.7587H12.7587V8.50554H21.2642Z")
        .floating-icon.big
          svg(width="30" height="41" viewBox="0 0 30 41" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M0 11.6484H5.82452V17.4729H0V11.6484Z")
            path(d="M23.2969 23.2966H29.1214V29.1211H23.2969V23.2966Z")
            path(d="M29.1213 11.6483V5.82452H17.473V0H11.6485V5.82452H5.82469L5.82452 11.6484L11.6485 11.6483V17.4731L5.82452 17.4729L5.82469 23.2969H11.6485V29.1214H0.000172173V34.946H11.6485V40.77H17.473V34.946H23.2968L23.2969 29.1211L17.473 29.1214V23.2969L23.2969 23.2966L23.2968 17.4731H17.473V11.6483H29.1213Z")
