/* normalize */
html {  
  -ms-text-size-adjust: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 1 */
}
body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;  
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}
/* normalize end */

/* reset */
*,
:focus {
	outline:none;
}
body {	
	-webkit-fontype-smalloothing:antialiased;
}
body, 
html {
	height:100%;
	width:100%;
}
a ,
input[type=radio], 
input[type=checkbox], 
select {
	cursor:pointer;
}
select[disabled]{
	cursor: default;
}
input:-webkit-autofill {
	background-color:transparent;
}
*+html input[type=checkbox],
*+html input[type=radio] {
	width:13px; 
	height:13px;
}
textarea {
	resize:none;
	vertical-align:top;
}
em, 
i {
	font-style:italic;
}
img {
	vertical-align:top;
}
input {
	vertical-align:middle;
}
dl, 
menu,
ol,
ul {
	margin:1em 0;
}
dd {
	margin:0 0 0 40px;
}
menu,
ol,
ul {
	padding:0 0 0 40px;
}
nav ul, 
nav ol {
	list-style:none outside none;
}
blockquote, 
q {
	quotes:none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content:'';
	content:none;
}
q {
	quotes:"\201C" "\201D" "\2018" "\2019";
}
:focus {
	-moz-outline:3px solid #fff !important;
}
input[type="radio"]:focus {
	-moz-outline-radius:12px !important;
	-moz-outline-offset:0 !important;
}
input[type="checkbox"]:focus {
	-moz-outline-offset:-1px !important;
	-moz-outline:1px solid #000 !important;
}
*+html a,
*+html button,
*+html input[type="submit"],
*+html input[type="radio"], 
*+html input[type="checkbox"], 
*+html input[type="button"] {
	// noFocusLine: expression(this.onFocus=this.blur());
}
button:after {
    content:"";    
}
del {
	text-decoration:line-through;
}
table {
	width:100%;
}
form {
	margin:0;
	padding:0;
}
input::-ms-clear {
   display: none;
}
:-moz-placeholder {
   opacity: 0.5;  
}
::-webkit-input-placeholder {
   opacity: 0.5;
   color: inherit;
}
::-moz-placeholder {
   opacity: 0.5;    
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* reset end */