// Sass Variables
// Main colors
$main-font: 'sf_pro_displayregular', roboto, sans-serif;
$main-font_bold: 'sf_pro_displayregular-bold', roboto, sans-serif;
$white: rgb(255 255 255 / 100%);
$black: rgb(0 0 0 / 100%);

//main text color
$color-1: #341087;
$color-2: #A669EF;

//secondary text color
$color-3: #3D247A;
$color-4: #CEA5FF;
$color-5: #7141AC;
$color-6: #6D00FF;
$color-7: #002133;
$color-8: #F8F8F8;
$color-9: #E0F0FF;
$color-10: #4700ED;
$color-11: #CCD6E0; 
$color-12: #E3FCEF;
$shadow-color-1: rgb(50 8 106 / 28%);
$shadow-color-2: rgb(204 204 204 / 50%);
$shadow-color-3: rgb(0 0 0 / 17%);
$shadow-color-4: rgb(0 0 0 / 13%);
$shadow-1: 0px 30.53px 30.53px -12.21px;
$shadow-2: 0px 45.57px 45.57px -18.23px;
$shadow-3: 0px 2.28px 0px 0px;
$shadow-4: 0px -2.28px 0px 0px;
$shadow-5: -2.28px 0px 0px 0px;
$shadow-6: 2.28px 0px 0px 0px;
$text-gradient: linear-gradient(0deg, $color-1 50.11%, $color-2 87.22%);
